/******** Imported Fonts ******/

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700|Dosis:100,200,300,400,500,600,700");

/******** Variables ******/

:root {
  --gray: #6e6e6e;
  --green: #bcfd4c;
}

/******** Misc ******/

html {
  background-color: var(--gray);
  font-size: 18px;
}

body {
  height: 100vh;
  margin: 0 10%;
}

.hr-grad {
  border: 0;
  height: 3px;
  background-image: linear-gradient(
    to right,
    rgba(110, 110, 110, 0),
    rgba(188, 253, 76),
    rgba(110, 110, 110, 0)
  );
}

.h3-heading {
  font-family: "Source Sans Pro", sans-serif;
  align-self: center;
  margin: 0;
  font-size: 1.6rem;
  font-weight: 500;
  color: white;
}

/******** Main Container ******/

main {
  grid-area: main;
}

.base-container {
  margin: 0 auto;
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 0.1fr 0.05fr 2fr 0.05fr 0.1fr;
  grid-template-areas:
    "logo nav nav nav"
    "logo header header header"
    "hr-top hr-top hr-top hr-top"
    "main main main main"
    "hr-bottom hr-bottom hr-bottom hr-bottom"
    "footer footer footer footer";
}

.test {
  background-color: var(--gray);
}

/******** Logo ******/

.logo {
  padding-top: 1rem;
  display: flex;
  justify-content: start;
  align-items: center;
  grid-area: logo;
  padding-left: 3rem;
}

.logo a {
  font-size: 4.5rem;
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  font-weight: bold;
  transition: all ease-in-out 250ms;
}

.img-text {
  color: var(--green);
  font-weight: bold;
  position: relative;
  padding-right: 1rem;
  background: url("/assets/images/image_back.jpg");
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: all ease-in-out 250ms;
}

.img-text:hover {
  filter: saturate(0%);
  font-weight: bold;
  transition: all ease-in-out 250ms;
}

/****** Custom Borders ******/

/*** Top Right Border ***/
.border-top-right {
  position: relative;
}

.border-top-right::before,
.border-top-right::after {
  content: "";
  position: absolute;
  top: -3px;
  right: -3px;
}

/* Border Downwards */
.border-top-right::before {
  bottom: -3px;
  width: 3px;
  background-image: gradient(
    linear,
    0 100%,
    0 0,
    from(var(--gray)),
    to(transparent)
  );
  background-image: -webkit-linear-gradient(#bcfd4c, transparent);
  background-image: -moz-linear-gradient(#bcfd4c, transparent);
  background-image: -o-linear-gradient(#bcfd4c, transparent);
}

/* Border to Left */
.border-top-right::after {
  left: -3px;
  height: 3px;
  background-image: gradient(
    linear,
    0 0,
    100% 0,
    from(#bcfd4c),
    to(transparent)
  );
  background-image: -webkit-linear-gradient(right, #bcfd4c, transparent);
  background-image: -moz-linear-gradient(right, #bcfd4c, transparent);
  background-image: -o-linear-gradient(right, #bcfd4c, transparent);
}

/*** Bottom Left Border ***/
.border-bottom-left {
  position: relative;
}
.border-bottom-left:before,
.border-bottom-left:after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: -3px;
}
.border-bottom-left:before {
  top: -3px;
  width: 3px;
  background-image: gradient(
    linear,
    0 100%,
    0 0,
    from(#bcfd4c),
    to(transparent)
  );
  background-image: -webkit-linear-gradient(transparent, #bcfd4c);
  background-image: -moz-linear-gradient(transparent, #bcfd4c);
  background-image: -o-linear-gradient(transparent, #bcfd4c);
}
.border-bottom-left:after {
  right: -3px;
  height: 3px;
  background-image: gradient(
    linear,
    0 0,
    100% 0,
    from(#bcfd4c),
    to(transparent)
  );
  background-image: -webkit-linear-gradient(left, #bcfd4c, transparent);
  background-image: -moz-linear-gradient(left, #bcfd4c, transparent);
  background-image: -o-linear-gradient(left, #bcfd4c, transparent);
}

/******** Main Navigation Bar ******/

.main-nav {
  grid-area: nav;
  display: grid;
  padding-top: 1rem;
  justify-content: end;
  align-items: end;
}

.main-nav ul {
  display: flex;
  list-style: none;
  margin-right: 3rem;
}

.main-nav a {
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 0.9rem;
  color: white;
  padding-right: 3rem !important;
  position: relative;
  transition: all ease-in-out 250ms;
}

.main-nav a::after {
  content: "";
  position: absolute;
  display: block;
  height: 0.15rem;
  width: 0%;
  background-image: linear-gradient(
    to right,
    rgba(188, 253, 76),
    rgba(110, 110, 110, 0)
  );
  bottom: -1rem;
  transition: all ease-in-out 250ms;
}

.main-nav a:hover::after {
  width: 60%;
}

.main-nav a:hover {
  color: var(--green);
}

.main-nav li a.active {
  color: var(--green);
}

/******** Header ******/

.header {
  grid-area: header;
  display: grid;
  justify-content: end;
  align-items: center;
  padding-right: 3rem;
  font-family: "Source Sans Pro";
  font-size: 2rem;
  color: white;
}

/****** HR Custom ******/

.hr-div1 {
  grid-area: hr-top;
  background-color: var(--gray);
}

.hr-div2 {
  grid-area: hr-bottom;
  background-color: var(--gray);
}

/******** Start page Section ******/

.main-container {
  background-color: var(--gray);
  display: flex;
}

.text-div {
  background: rgb(188, 253, 76);
  background: linear-gradient(
    20deg,
    rgba(110, 110, 110, 1) 40%,
    rgba(188, 253, 76, 1) 100%
  );
  margin: 2rem 0.1rem 2rem 0.2rem;
  width: 100%;
  margin-right: 2rem;
  height: 400px;
  display: flex;
  justify-content: end;
  align-items: flex-end;
  justify-self: end;
  z-index: 1;
}

.main-text {
  display: flex;
  color: white;
  font-family: "Exo";
  font-size: 3.2rem;
  padding-right: 1rem;
}

/****** About Me Section ******/

.aboutme-container {
  background-color: var(--gray);
  display: grid;
  grid-template-columns: 3rem 1fr 1fr 1fr;
  grid-template-areas: "social work about pic";
}

.work-history-div {
  background-color: #868686;
  display: grid;
  grid-area: work;
  height: 550px;
  margin: 2rem 0.1rem 2rem 0.2rem;
  padding: 1rem;
}

.history-items {
  margin-bottom: 30px;
}

.timeline-item {
  padding-top: 1rem;
  padding-left: 1rem;
  position: relative;
  color: #fafafa;
  border-left: 1px solid;
  border-color: var(--green);
}

.timeline-item h4 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 0;
}

.timeline-item p {
  font-family: "Dosis";
  font-size: 1rem;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.timeline-item:before {
  content: attr(data-dates);
  position: absolute;
  left: 1em;
  top: 1em;
  display: block;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 500;
  font-size: 0.9em;
  padding: 0;
  margin: 0;
}

.timeline-item:after {
  width: 0.6rem;
  height: 0.6rem;
  display: block;
  top: 1.1em;
  position: absolute;
  left: -0.3rem;
  border-radius: 0.6rem;
  content: "";
  background: var(--green);
}

.aboutme-div {
  background-color: #9b9b9b;
  display: grid;
  grid-area: about;
  margin: 3.5rem 0.2rem auto;
  padding: 0 1rem;
}

.aboutme-div p {
  font-family: "Source Sans Pro", sans-serif;
  color: #fff;
  font-size: 0.9rem;
}

.aboutme-div dl {
  color: #fff;
}

.chris-pic {
  display: grid;
  grid-area: pic;
  margin: 0 2rem 0 0.2rem;
  align-self: start;
  filter: saturate(0);
}

.chris-pic img {
  width: 100%;
}

/****** Portfolio Section ******/

.portfolio-container {
  background-color: var(--gray);
  display: grid;
  grid-template-columns: 3rem 1fr;
  grid-template-areas: "social projects";
}

.projects {
  grid-area: projects;
  display: flex;
  flex-flow: row wrap;
  align-content: start;
  margin: 0;
}

.projects h4 {
  font-family: "Souce Sans Pro", sans-serif;
  font-size: 1.2rem;
}

.card {
  width: 30%;
  margin: 2rem 0.5rem 0;
}

.info {
  padding: 2px 16px;
  margin: 0;
  background-color: #868686;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.port-img {
  width: 100%;
  height: auto;
}

/* Modal */
a,
a:link {
  font-family: "Source Sans Pro", sans-serif;
  text-decoration: none;
}

.container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.container:target {
  display: flex;
}

.modal {
  width: 30rem;
  height: 10rem;
  padding: 2rem 2rem;
  color: hsl(0, 0%, 100%);
  background-color: #868686;
  position: relative;
  overflow: hidden;
}

.details {
  text-align: center;
}

.description {
  margin-top: 1rem;
}

.txt {
  padding: 1rem 4rem;
  font-family: "Source Sans Pro", sans-serif;
  color: #fff;
  font-size: 0.9rem;
  line-height: 1.5;
}

.txt::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 100%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 18rem;
  height: 18rem;
  border: 1px solid hsla(82, 98%, 65%, 0.2);
  border-radius: 100rem;
  pointer-events: none;
}

.link-1 {
  border: 1px solid hsla(0, 0%, 100%, 0.4);
  font-size: 0.9rem;
  color: hsl(0, 0%, 100%);
  background-color: var(--gray);
  padding: 0.5rem 0.8rem;
  margin: 0.5rem 0;
  transition: 0.2s;
}

.link-2 {
  color: inherit;
  font-size: 2rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-2::before {
  content: "×";
}

.link-2:hover,
.link-2:focus {
  color: var(--green);
  transform: scale(1.2);
}

.hr-modal {
  border: 0;
  margin: 0.5rem auto;
  height: 2px;
  background-image: linear-gradient(
    to right,
    rgba(110, 110, 110, 0),
    rgba(188, 253, 76),
    rgba(110, 110, 110, 0)
  );
}

.ml {
  margin-left: 2rem;
}

/****** Tech Skills Section ******/

.techskills-container {
  background-color: var(--gray);
  display: grid;
  grid-template-columns: 3rem 1fr 1fr;
  grid-template-areas: "social skills text";
}

.skills {
  grid-area: skills;
  margin: 2rem 0.5rem auto;
}

.skills h3 {
  margin-top: 0;
  padding: 0 0 0.5rem 0.2rem;
}

.skills p {
  font-family: "Exo", sans-serif;
}

.skills span {
  font-family: "Exo", sans-serif;
}

.skills-info {
  grid-area: text;
  margin: 8rem 2rem 0 0;
  justify-self: center;
}

.skills-info p {
  background-color: #9b9b9b;
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 0.9rem;
  padding: 2rem 1rem;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 1rem;
  overflow: hidden;
  font-size: 0.75rem;
  position: relative;
  height: 23px;
  width: 100%;
  line-height: 1.5;
  margin-bottom: 4px;
  background-color: #868686;
  border-radius: 0;
  padding-left: 0.2rem;
}

.progress-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  background-color: #bcfd4c;
  transition: width 0.6s ease;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  border: 0;
}

.progress-type {
  position: absolute;
  left: 0px;
  font-weight: 400;
  padding: 3px 30px 2px 10px;
  color: #fafafa;
  background-color: rgba(25, 25, 25, 0.2);
}

/****** Contact Me Section  ******/

.contactme-container {
  background-color: var(--gray);
  display: grid;
  grid-template-columns: 3rem 1fr;
  grid-template-areas: "social contact";
}

.contact-div {
  grid-area: contact;
  background-color: #868686;
  display: grid;
  margin: 2rem auto auto 0.5rem;
  padding: 0 1rem;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 0.9rem;
  color: white;
}

.contact-div dt {
  color: var(--green);
}

.contact-div a {
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 0.9rem;
  color: white;
}

/******** Footer ******/

footer {
  grid-area: footer;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  align-items: center;
  padding: 0 3rem;
}

.copyright {
  color: white;
  font-family: "Source Sans Pro";
  font-weight: 300;
  font-size: 0.8rem;
}

/******** Social Media Links ******/

.social-media-links {
  display: block;
  grid-area: social;
  margin-top: 1rem;
  justify-self: left;
  z-index: 100;
}

.social-media-links a {
  color: var(--green);
}

.social-media-links ul {
  padding: initial;
  font-size: 1rem;
}

.social-media-links ul li {
  height: 1.2rem;
  width: 1.8rem;
  text-decoration: none;
  list-style-type: none;
  padding-left: 0.8rem;
  margin-top: 0.1rem;
  background: var(--gray);
  transition: 1s;
}

.social-media-links a:hover {
  display: block;
  color: var(--gray);
}

.social-media-links ul li:hover {
  background: rgb(188, 253, 76);
  transform: rotate(360deg) scaleX(-1) rotateY(180deg);
  transition: 1s;
}

.social-media-links-small {
  visibility: hidden;
  text-decoration: none;
  font-size: 1rem;
}

.social-media-links-small a {
  color: var(--green);
  padding: 0 0.3rem;
}

/****** Media Queries ******/

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .card {
    width: 45%;
    margin: 2rem 0.5rem 0;
  }
}

@media only screen and (max-width: 991px) {
  /****** Misc ******/
  .base-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 0.2fr 0.1fr 0.05fr 2fr 0.05fr 0.1fr;
    grid-template-areas:
      "logo"
      "nav"
      "header"
      "hr-top"
      "main"
      "hr-bottom"
      "footer";
  }

  .social-media-links {
    visibility: hidden;
  }

  .social-media-links ul li {
    height: 0;
    width: 0;
    padding-left: 0;
    margin-top: 0;
  }

  .social-media-links-small {
    visibility: visible;
  }

  body {
    margin: 0;
  }

  .h3-heading {
    font-size: 1.1rem;
    font-weight: 500;
  }

  /****** Logo ******/
  .logo {
    padding-top: 1rem;
    display: flex;
    justify-content: start;
    align-items: center;
    grid-area: logo;
    padding-left: 1rem;
  }

  .logo a {
    font-size: 3.5rem;
    transition: all ease-in-out 250ms;
  }

  /****** Navbar ******/
  .main-nav {
    padding-top: 0;
    padding-bottom: 0;
    justify-content: center space-between;
  }

  .main-nav ul {
    list-style: none;
    margin-right: 0;
  }

  .main-nav a {
    font-size: 0.7rem;
    color: white;
    padding-right: auto !important;
  }

  /****** Header ******/
  .header {
    padding-right: 2rem;
    font-size: 1rem;
  }

  /****** Start Page ******/
  .text-div {
    margin: 0 auto;
    width: 90%;
    height: 200px;
    justify-content: end;
    align-items: end;
    justify-self: end;
  }

  .main-text {
    display: flex;
    color: white;
    font-family: "Exo";
    font-size: 1.5rem;
    padding-right: 0.5rem;
  }

  /****** About Me ******/
  .aboutme-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "pic"
      "about"
      "work";
  }

  .chris-pic {
    margin: 1rem 0.2rem 0.2rem;
    align-self: center;
  }

  .aboutme-div {
    margin: 1rem 0.2rem;
    padding: 0 0.5rem;
  }

  .aboutme-div p {
    font-size: 0.8rem;
  }

  .work-history-div {
    height: auto;
    margin: 0 0.2rem;
    padding: 0.5rem;
  }

  .timeline-item h4 {
    font-weight: 400;
    font-size: 1rem;
  }

  .timeline-item p {
    font-size: 0.8rem;
  }

  .timeline-item:before {
    font-size: 0.8em;
  }

  /****** Portfolio ******/
  .portfolio-container {
    background-color: var(--gray);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "projects";
  }

  .card {
    width: 100%;
    margin: 1rem 0.2rem 0;
  }

  /* Modal */
  .container {
  }

  .modal {
    width: 100%;
    height: 7rem;
    padding: 1rem 0;
  }

  .txt {
    width: 100%;
    padding: 0.1rem 0.2rem;
    font-size: 0.8rem;
    line-height: 1.5;
  }

  .txt::before {
    top: 0%;
    left: 100%;
    width: 18rem;
    height: 18rem;
  }

  .link-1 {
    font-size: 0.8rem;
    padding: 0.3rem 0.7rem;
    margin: 0.4rem 0;
  }

  .container .border-bottom-left {
    width: 90%;
    margin: 0 0.8rem 0 0;
  }

  .link-2 {
    color: inherit;
    font-size: 1.5rem;
    position: absolute;
    top: 0.2rem;
    right: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /****** Tech Skills ******/
  .techskills-container {
    background-color: var(--gray);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "text"
      "skills";
    flex-wrap: wrap-reverse;
  }

  .skills {
    margin: 0 0.4rem 0 0rem;
  }

  .skills-info {
    justify-self: stretch;
    margin: 0.2rem 0.2rem 0 0.2rem;
  }

  .skills-info p {
    font-size: 0.8rem;
    padding: 1rem 0.5rem;
  }

  .skills-info .border-top-right {
    width: 95%;
  }

  .progress {
    height: 1rem;
    font-size: 0.6rem;
    height: 1rem;
    line-height: 1.5;
    margin-bottom: 4px;
  }

  .progress-type {
    padding: 2px 30px 2px 10px;
  }

  /****** Contact Me ******/
  .contactme-container {
    grid-template-columns: 1fr;
    grid-template-areas: "contact";
  }

  .contact-div {
    margin: 1rem 0.4rem 0 0.2rem;
    padding: 0 0.5rem;
    font-size: 0.8rem;
  }

  .contact-div a {
    font-size: 0.8rem;
  }

  /****** Footer ******/
  footer {
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
  }
}
